<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TechnicianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_watercare_technician"
        android:roundIcon="@mipmap/ic_launcher_watercare_technician"
        android:label="WaterCare 방문기사"
        android:theme="@style/Theme.WaterCare"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>