<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@mipmap/ic_launcher_watercare"
        android:roundIcon="@mipmap/ic_launcher_watercare" android:usesCleartextTraffic="false" android:name=".CustomerApplication" android:allowBackup="true" android:label="WaterBridge 고객" android:theme="@style/Theme.WaterCare">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
